// color

$charcoal-gray: #161b22;
$white: #fff;
$state-gray: #7d8590;
$coral: #f78166;
$dark-slte-gray: #2f363f;
$dark-charcoal-gray: #21262d;

// font type

$montserrat: "Montserrat", sans-serif;
$poppins: "Poppins", sans-serif;

// font size

$fs-extra-large: 1.85rem;
$fs-large: 1.6rem;
$fs-medium: 1.25rem;
$fs-regular: 16px;
$fs-small: 0.8rem;
$fs-extra-small: 0.6rem;

// font weight

$fw-bold: 700;
$fw-semi-bold: 600;
$fw-medium: 500;
$fw-regular: 400;

// responsive

$mobile-layout: 380px;
$tablet-layout: 768px;
$desktop-layout: 1024px;
