@import "./base/reset";
@import "./base/typography";
@import "./utils/variables";

body {
  padding: 0 40px;
}

.header {
  display: flex;
  flex-direction: column; /* Membuat elemen anak berada di bawah satu sama lain */
  align-items: center;
  text-align: center;
  .photo {
    margin: 30px auto;
    width: 120px;
    height: auto;
  }

  .about {
    display: block;
    color: $white;

    &__name {
      font-size: 2rem;
      margin-bottom: 1.4rem;
    }
  }

  .icons {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin: 24px 0;

    .icon {
      &__github,
      &__linkedln,
      &__instagram {
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $dark-charcoal-gray;
          border: 1px solid $dark-slte-gray;
          width: 40px;
          height: 40px;
          border-radius: 50%;

          &:hover {
            transform: scale(1.2);
          }
        }

        p {
          display: none;
        }
      }
    }
  }

  button {
    border-radius: 30px;
    background-color: $dark-charcoal-gray;
    border: 1px solid $dark-slte-gray;
    padding: 14px 22px 14px 22px;
    font-family: $montserrat;
    font-size: $fs-medium;
    font-weight: $fw-semi-bold;
    color: $white;

    &:hover {
      border: 1px solid $coral;
      color: $coral;
    }
  }
}

hr {
  width: 100%;
  margin: 28px 0;
  border-color: $dark-charcoal-gray;
}

.navbar {
  width: 100%;
  padding: 10px;
  background-color: rgba(33, 38, 45, 0.6);
  border-radius: 26px;
  .nav {
    display: flex;
    gap: 10px;
    &__blogs,
    &__projects,
    &__experiences {
      display: flex;
      justify-content: center;
      padding: 14px 0;
      background-color: $dark-charcoal-gray;
      width: 33%;
      border-radius: 18px;
      border: 1px solid $dark-slte-gray;
      h4 {
        display: none;
        color: $white;
        margin-left: 12px;
        font-weight: $fw-regular;
      }

      &.active {
        h4 {
          color: $coral;
        }
        border: 1px solid $coral;
        .fill {
          fill: $coral;
        }
        .stroke {
          stroke: $coral;
        }
      }
    }
  }
}

.card {
  display: flex;
  width: 100%;
  padding: 10px;
  border: 1px solid $dark-slte-gray;
  gap: 10px;
  border-radius: 14px;
  margin-top: 33px;
  &__image {
    width: 30%;
    overflow: hidden;
    border-radius: 4px;

    img {
      height: 100%;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__date {
      display: flex;
      gap: 10px;
      p {
        font-size: $fs-extra-small;
        color: $state-gray;
      }
    }
    &__title {
      color: $white;
      font-size: 26px;
    }

    &__description {
      font-size: $fs-small;
      color: $state-gray;
    }
  }
}

@media (min-width: 480px) {
  .header {
    .about {
      width: 400px;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    .nav {
      h4 {
        display: block;
      }
    }
  }
}

@media (min-width: 1024px) {
  .portofolio {
    display: grid;
    grid-template-columns: 400px 2fr;
    .biodata {
      .about {
        &__description {
          text-align: start;
        }
      }

      .icons {
        flex-direction: column;
        justify-content: flex-start;
        width: 400px;
        .icon {
          display: flex;
          align-items: center;
          gap: 20px;
          color: white;

          &__github,
          &__linkedln,
          &__instagram {
            display: flex;
            align-items: center;
            gap: 10px;

            &:hover {
              transform: scale(1.1);
            }

            p {
              display: block;
            }
          }
        }
      }
      hr {
        display: none;
      }
    }

    .menu {
      .navbar {
        margin-top: 30px;
      }
    }
  }
}

@media (min-width: 1300px) {
  .portofolio {
    padding: 0 10vw;
  }
}

@media (min-width: 1700px) {
  .portofolio {
    padding: 0 15vw;
  }
}
