@import "../utils/variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  color: inherit;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

button,
img,
input,
a,
span,
ion-icon {
  display: block;
}

input {
  font: inherit;
  border: none;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  background-color: $charcoal-gray;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: $fs-regular;
}

p {
  font-family: $poppins;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $montserrat;
}

img {
  height: auto;
}
