@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #161b22;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", "sans-serif";
    overflow-wrap: break-word;
}

p {
    font-family: "Poppins", "sans-serif";
    overflow-wrap: break-word;
}

.wave {
    animation: wave 1s linear infinite;
}

@keyframes wave {
    0%,
    100% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(55deg);
    }
    50% {
        transform: rotate(45deg);
    }
    75% {
        transform: rotate(35deg);
    }
}
.hired {
    animation: hired 0.5s infinite alternate;
    transform-origin: center;
    background-color: rgb(0, 174, 84);
}

@keyframes hired {
    0%,
    100% {
        transform: scale(1);
        background-color: rgb(0, 174, 84);
    }
    50% {
        transform: scale(1.1);
        background-color: transparent;
    }
}

@media only screen and (width < 600px) {
    pre,
    code {
        width: 300px;
    }
    /* Tambahkan perubahan gaya lainnya untuk perangkat seluler di sini */
}

@media only screen and (width > 600px) {
    pre,
    code {
        width: 500px;
    }
    /* Tambahkan perubahan gaya lainnya untuk perangkat seluler di sini */
}
