@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161b22;
}

.wave {
  animation: wave 1s linear infinite;
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(55deg);
  }
  50% {
    transform: rotate(45deg);
  }
  75% {
    transform: rotate(35deg);
  }
}
